.app{
    position: relative;
}
.nav{
margin:0;
text-align: center;
width:100%;
margin-top:-1.5%;
background-color:black;
color:white;
justify-content: center;
}
.Login{
    width: 10rem;
    height: 10%;
   
    text-align: center;

    background-color:rgb(34, 169, 187);
    color: white;
 
    text-decoration: none;
    margin-left: 45%;
}

